// @import '~bootstrap/scss/functions';
// @import '~bootstrap/scss/variables';
::-webkit-scrollbar {
  display: none; /* Chrome Safari */
}
body {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}
