::-webkit-scrollbar {
  display: none; /* Chrome Safari */
}

body {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */

  background-color: $bgcolor;
  // background: linear-gradient(#acfb76, #30da0c);
}

* {
  transition: all 0.3s ease-out;
}
