<main role="main" class="w-100 pokemon-list">
  <!-- col-md-9 ml-sm-auto col-lg-10 -->
  <ng-container *ngIf="pokemonList">
    <ngb-alert class="mt-4" *ngIf="pokemonList.length === 0">
      We can't find Pokemon following your search criteria
    </ngb-alert>
    <div class="row w-100 mx-0">
      <app-pokemon-card
        class="col-6 col-sm-6 col-md-6 col-lg-4 col-xl-3 col-xxl-2 animated fadeIn slow d-flex justify-content-center align-items-center"
        *ngFor="let pokemon of pokemonList"
        [pokemon]="pokemon"
      ></app-pokemon-card>
    </div>
  </ng-container>
</main>
