@import '../../../styles/themes/pokedex';
@import '../../../styles/abstracts/variables';

@media (min-width: map-get($grid-breakpoints, 'md')) {
  .card {
    flex-direction: column;
    justify-content: center;

    .card-body {
      align-items: center;
      padding: 1rem 0.25rem 0.25rem 0.25rem;
    }

    .card-footer {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  }
}

@media (max-width: map-get($grid-breakpoints, 'md') - 1) {
  .card {
    flex-direction: row-reverse;

    h3 {
      font-size: larger;
    }

    .card-body {
      align-items: center;
      padding: 0.25rem;
      justify-content: space-between;
    }

    .btn-block {
      width: 90%;
    }

    .evolution-text {
      font-size: x-small;
    }
  }
}

.card {
  width: 340px;
  border-radius: 20px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  color: #fafafa;
  background-color: $cardBg;
  top: 0px;
  position: relative;

  &:hover {
    transition: all 0.2s ease-out;
    box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
    top: -4px;
    border: 1px solid #cccccc;

    .led-green {
      background-color: #abff00;
      box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #304701 0 -1px 9px,
        #89ff00 0 2px 12px;
    }
  }

  img.card-img-top {
    background-image: url('../../../assets/poke-ball-gray-quart.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #fafafa;
  }
}

.evolution-text {
  font-weight: 500;
}

.border-screen {
  .card-img-top {
    border-radius: 20px;
    border-style: solid;
    border-color: #494949;
    border-width: 2px;
  }
  background-color: #b0b0b0;
  border: 2px;
  padding: 20px 20px 30px 20px;
}

.pokemon-name {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  width: 90%;
  box-shadow: 0 0 20px #137604 inset, 0px 0px 5px 1px #600707;
  background-color: #30da0c;
  background: linear-gradient(#acfb76, #30da0c);
}

.led-green {
  position: absolute;
  right: 15px;
  width: 24px;
  height: 24px;
  background-color: #304701;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px;
}

.triangle {
  position: absolute;
  z-index: 120;
  margin-left: -20px;
  margin-top: -10px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 40px 0 0 40px;
  border-color: transparent transparent transparent $cardBg;
}
